<div class="container">

    <div class="btn-group-vertical" style="margin: 20px; margin-left: 0px;">
        <a class="btn btn-outline-primary text-left" style="text-align: left; padding: 15px;" (click)="makingPost=true;makingAssignment=false;makingAssessment=false;">+ Create Post</a>
        <a class="btn btn-outline-primary text-left" style="text-align: left; padding: 15px;" (click)="makingPost=false;makingAssignment=true;makingAssessment=false;">+ Create Assignment</a>
        <a class="btn btn-outline-primary text-left" style="text-align: left; padding: 15px;" (click)="makingPost=false;makingAssignment=false;makingAssessment=true;">+ Create Assessment</a>
        <a class="btn btn-outline-primary text-left" style="text-align: left; padding: 15px;">+ Add Instructors</a>
        <a class="btn btn-outline-primary text-left" style="text-align: left; padding: 15px;">+ Add Students</a>
    </div>



    <form *ngIf="makingPost" #postForm = "ngForm" (ngSubmit) = "makePost(postForm.value)">
        <div class="form-floating">
            <input type="text" class="form-control" id="title" placeholder="Title" name="title" ngModel>
            <label for="title" class="form-label">Title of Post</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="instruction" placeholder="Instruction" name="instruction" ngModel></textarea>
            <label for="instruction" class="form-label">Instruction</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" id="releaseDate" placeholder="ReleaseDate" name="releaseDate" ngModel>
            <label for="releaseDate" class="form-label">Release Date</label>
        </div>
        <button class="btn btn-outline-success" type="submit" style="margin: 10px;">Save and Publish</button>
        <button class="btn btn-outline-danger" (click)="makingPost=false" style="margin: 10px;">Discard</button>
    </form>

    <form *ngIf="makingAssignment" #assignForm = "ngForm" (ngSubmit) = "makeAssignmentData(assignForm.value)">
        <div class="form-floating">
            <input type="text" class="form-control" id="title" placeholder="Title" name="title" ngModel>
            <label for="title" class="form-label">Title of Assignment</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="instruction" placeholder="Instruction" name="instruction" ngModel></textarea>
            <label for="instruction" class="form-label">Instruction</label>
        </div>
        <div class="form-floating">
            <!-- <p #fileName> -->
                <uploader (sendfiles)="collectFiles($event)" #uploader></uploader>
            <!-- <button class="btn btn-outline-info margined" (click)="triggerFileChooser()">Upload files</button> -->
            <!-- </p> -->
        </div>
        <p class="alert alert-danger" *ngIf="datesinvalid">Please ensure that the release date and due date
    are not in the past and that due date is after the release date. </p>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="releaseNow" (change)="releaseNow=!releaseNow" ngModel>
            <label for="releaseNow" class="form-check-label">Publish Immediately</label>
        </div>
        <div class="form-floating" *ngIf="!releaseNow">
            <input type="date" class="form-control" id="releaseDate" placeholder="ReleaseDate" name="releaseDate" (change)="validateDates()" ngModel>
            <label for="releaseDate" class="form-label">Release Date</label>
        </div>

        <div class="form-floating">
            <input type="date" class="form-control" id="dueDate" placeholder="DueDate" name="dueDate" (change)="validateDates()" ngModel>
            <label for="dueDate" class="form-label">Due Date</label>
        </div>
        <button *ngIf="releaseNow" class="btn btn-outline-success" type="submit" style="margin: 10px;">Save and Publish</button>
        <button *ngIf="!releaseNow" class="btn btn-outline-success" type="submit" style="margin: 10px;">Save Draft</button>
        <button class="btn btn-outline-danger" (click)="makingAssignment=false" style="margin: 10px;">Discard</button>
    </form>

    <form *ngIf="makingAssessment" #assessForm = "ngForm" (ngSubmit) = "makeAssignmentData(assessForm.value)">
        <div class="form-floating">
            <input type="text" class="form-control" id="title" placeholder="Title" name="title" ngModel>
            <label for="title" class="form-label">Title of Assessment</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="instruction" placeholder="Instruction" name="instruction" ngModel></textarea>
            <label for="instruction" class="form-label">Instruction</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" id="releaseDate" placeholder="ReleaseDate" name="releaseDate" ngModel>
            <label for="releaseDate" class="form-label">Release Date</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" id="dueDate" placeholder="DueDate" name="dueDate" ngModel>
            <label for="dueDate" class="form-label">Due Date</label>
        </div>
        <button *ngIf="releaseNow" class="btn btn-outline-success" type="submit" style="margin: 10px;">Save and Publish</button>
        <button *ngIf="!releaseNow" class="btn btn-outline-success" type="submit" style="margin: 10px;">Save Draft</button>
        <button class="btn btn-outline-danger" (click)="makingAssessment=false" style="margin: 10px;">Discard</button>
    </form>

    <hr/>

    <!-- <div style="width: 50%;border:1px solid green; padding:10px;"> -->
        
    <h3>Posts <i class="bi bi-megaphone-fill" style="font-size: 2rem;"></i></h3>
    <div *ngFor="let post of posts">
        <div class="container" style="margin: 30px;">
            <h5>{{post.number+1}}. {{post.title}}</h5>
            <p style="overflow: hidden;"><b>Instruction</b>: {{post.instruction}}</p>
        </div>
    </div>

    <hr/>

    <h3>Assignments <i class="bi bi-file-earmark-fill" style="font-size: 2rem;"></i></h3>
    <div *ngFor="let task of assignments">
        <div class="container" style="margin: 30px;">
            <h5>{{task.number+1}}. {{task.title}}</h5>
            <div class="btn-group-horizontal" style="margin: 0px; margin-left: 0px;">
                <p class="btn btn-secondary text-left" style="text-align: left;margin:3px;padding: 0px;padding-left: 3px;padding-right:3px;"><i class="bi bi-eye"></i> {{task.seenby}}</p>
                <p class="btn btn-secondary text-left" style="text-align: left;margin:3px; padding: 0px;padding-left: 3px;padding-right:3px;"><i class="bi bi-check"></i> {{task.submittedby}}</p>
            </div>
            <div class="btn-group">
                <button class="btn btn-outline-dark" id="{{task.number}}" (click)="triggerFileChooser(task.number)"><i class="bi bi-upload"></i> Feedback</button>
                <button class="btn btn-outline-dark" id="{{task.number}}" (click)="downloadSubmissions(task.number)"><i class="bi bi-download"></i> Submissions</button>
            </div>
            <p style="overflow: hidden;"><b>Instruction</b>: {{task.instruction}}</p>
        </div>
    </div>

    <hr/>
<input type="file" style="visibility: hidden;" #hiddenSender (change)="submitFeedback($event)">
<a style="visibility: hidden;" target="_blank" #hiddenGetter></a>
</div>