<div class="container border">
<button class="btn btn-success">+ Create Post</button>
<button class="btn btn-success" (click)="makingAssignment=true">+ Create Assignment</button>
<button class="btn btn-success">+ Create Assessment</button>

</div>
<form *ngIf="makingAssignment" #assignForm = "ngForm" (ngSubmit) = "makeAssignmentData(assignForm.value)">
    <label for="title">Title:</label><br>
    <input type="text" name="title"  ngModel><br>
    <label for="instruction">Instruction:</label><br>
    <textarea name="instruction" ngModel></textarea><br>
    <label for="releaseDate">Release Date:</label><br>
    <input type="date" name="releaseDate" ngModel>
    <label for="dueDate">Due Date:</label><br>
    <input type="date" name="dueDate" ngModel>
    <button type="submit">Save and Publish</button><br>
    <button (click)="makingAssignment=false">Discard</button><br>
</form>