<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<html>
  <style>
h1 {
  text-align: center;
}
app-navbar{
  text-align: center;
}
</style>
<body text-align: center>
  <h1 text-align: center>Educare</h1>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</body>
</html>


